#{extends 'main.html' /}
#{set title:'Besvarelse #' + submission.id /}

<h2>Besvarelse #${submission.id}</h2>

<table>
	#{if isAdmin}
		<tr>
			<th>Deltager:</th>
			<td>${submission.contestant.getFullName()}</td>
		</tr>
	#{/if}
	<tr>
		<th>Tidspunkt:</th>
		<td>${submission.submittedAt}</td>
	</tr>
	<tr>
		<th>Språk:</th>
		<td>${submission.language.getName()}</td>
	</tr>
	<tr>
		<th>Status:</th>
		<td>${submission.status.getName()}</td>
	</tr>
	<tr>
		<th>Poeng:</th>
		<td>${submission.score} (av ${submission.task.weight})</td>
	</tr>
</table>

<h3>Kjøring mot datasett</h3>
<table>
	<tr>
		<th>Sett nr.</th>
		<th>Vekt</th>
		<th>Resultat</th>
	</tr>
	#{list items: submission.runs, as: 'run'}
		<tr>
			<td>${run.dataSet.number}</td>
			<td>${run.dataSet.weight}</td>
			<td>${run.result.getName()}</td>
		</tr>
	#{/list}
	#{else}
		<tr>
			<td colspan="3">(ingen)</td>
		</tr>
	#{/else}
</table>

<h3>Kompilatorfeilmeldinger</h3>
<p>
	#{list items: submission.getCompilationErrorLines(), as: 'errorLine'}
		${errorLine}<br/>
	#{/list}
	#{else}
		(ingen)
	#{/else}
</p>

<h3>Kildekode</h3>
<pre>${submission.sourceCode}</pre>
